[submodule "libs/CRC32"]
	path = libs/CRC32
	url = https://github.com/bakercp/CRC32
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/arduinolibs"]
	path = libs/arduinolibs
	url = https://github.com/rweather/arduinolibs
[submodule "libs/FakeIt"]
	path = libs/FakeIt
	url = https://github.com/eranpeer/FakeIt
